@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;   
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'poppins', sans-serif;
}

.logo {
    width: 50%; 
}

img {
	width: 100%;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


.nav-btn,
.nav-btn:link,
.nav-btn:visited{
    margin-top: -1.4rem;
    text-align: right;
	position: absolute;
	right: 20%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}

.nav a,
.nav a:link,
.nav a:visited{
    display: block;
	padding: 1rem;
	text-align: center;
	color: #333;
    top:0%;
	text-decoration: none;
}

.nav-top{
    max-height: 0;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
    overflow:hidden;
}

.nav-top[data-state="expanded"]{
    max-height: 50rem;
}

.fancy-link,
.fancy-link:link,
.fancy-link:visited{
	color: #333;
	text-decoration: none;
    font-weight: 500;
}

.fancy-link:hover,
.fancy-link:focus{
	color:#333;
	border-bottom: 3px solid #ef4628;
}
	
ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar{
    position: fixed;
    margin: 0; 
    padding: 1rem;
    background-color: #fff;
    display: block;
    z-index: 30000;
    width: 100%;
}

.nav-larg{
    display: none;
    background-color: #fff;
    width: 100%;
    text-align: right;
    position: fixed;
    z-index: 1000;
    margin-top: 0;
    font-size: 1rem;
}

.logo-2{
    max-width: 25rem;
}

@media only screen and (min-width:56em){
    .nav-bar{
        display: none;
    }

    .nav-larg{
        display: inline-block;
    }
    
    ul,li{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    
    .logo-title-2{
        float: left;
        padding: 2rem;
    }
    
    .nav-2 a,
    .nav-2 a:link,
    .nav-2 a:visited{
        display: block;
        margin: 2rem;
        text-align: center;
        color: #333;
        text-decoration: none;
    }
    
    .nav-2 ul{
     padding-top: 0.8rem;   
    }

    
    h1{
        font-size: 0;
    }
    
}

.logo-title{
 font-size: 1rem;   
}

.sec-1{
    text-align: center;
    padding-top: 2rem;
    width: 100%;
}

#content-1{
    margin: 0; 
}

.text-section{
 padding: 0 1.5rem 0 1.5rem ;   
}

.vertical-align{
margin-top: 15%;   
}

#content-1 h2{
 padding: 3rem 0 2rem 0;   
}

.img-about{
    margin-top: 2rem;
}

.text-2{
    margin-bottom: 2rem;
    text-align: center;
}

.info-1 p{
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.icon-cup{
    width: 100px;
    padding-top: 4rem;
 
}

.icon-cup-2{
    width: 15rem;
    margin-top: 2rem;
}

.coffee-sec h2{
    margin-top: 2rem;
    font-size: 5rem;
    
}

.page{
    height: 100vh;
    width: 100%;
}

.not-found-btn{
    padding: 0.3em;
    text-align: center;
    color: #f55638;
    border: solid 2px #f55638;
    width: 160px;
    margin: 0 auto;
    border-radius: 40px;
}

.not-found-btn a,
.not-found-btn a:link,
.not-found-btn a:visited{
    color: #f55638;
    text-decoration: none;
}

.icon{
    width: 50%;
}

.info-1{
    margin: .5rem;
}

.info-1 h3{
    margin-top: 5rem;
}

.icon-arrow{
    width: 20px;
}

@media only screen and (min-width:20.375em){
    
    .logo{

    }

}


@media only screen and (min-width:62em){
    
    
    .img-about{
        
        width: 50%;
        float: left;
    
    }
    
}

/*PORTFOLIO*/

.sec-2{
    text-align: center;
	overflow: hidden;
}

#content-2{
    padding: 8rem 0 2rem 0;
    
}

ol,ul {
	list-style:none;
}

.arrow{
    text-align: center;  
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.coffee-sec{
 
}

.img{
        max-width: 80%;
        margin: 10rem 2rem 0 2rem;
    }

/*------*/

.img-flex {
	display: block;
	width: 100%;
}

figure {
    margin: 0;
}

pro-1 {
    list-style: none;
    padding: 0;
}

a img {
    border: none;
}

.gallery {
	margin: 0;
    padding: 0;
}

.gallery:after {
    content: "";
    display: block;
    clear: both;
}

.gallery div {
    
}

.gallery div > a {
    max-height: 30rem;
	-webkit-transition: .5s;
    position: relative;
}

.gallery div > a img {
    max-width: 100%;
    -webkit-transition: .5s;
}

.gallery div > a:hover {
    z-index: 1;
}

.gallery article {
    width: 0;
    height: 0;
    overflow: scroll;
    position: fixed;
}

.gallery article:target {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff;
    z-index: 1000;
     top: 0px;
    left: 0px;
}


.gallery article img {
    opacity: 0;
    -webkit-transition: .7s;
}

.gallery img {
    opacity: 1.0;
}

.gallery img:hover{
 opacity: 1.0;   
}


article .close {
    position: absolute;
    font-weight: 500;
    left: 50%;
    top: 100px;
    margin-left: -50px;
    width: 100px;
    color: #000;
    text-decoration: none;
    padding: 6px 6px 6px 0;
    text-transform: uppercase;
    -webkit-transition: .5s;
}


article .close:hover {
    color: #f55638;
}

@media only screen and (min-width:37em){

.gallery img {
    opacity: 0.4;
}

.gallery img:hover{
 opacity: 1.0;   
}
    .img{
        width: 50%;
        /*margin: 10rem 8rem 0 8rem;*/
    }
    
     .img-about {
        width: 50%;
        padding-bottom: 2rem;
        float: left;
        
    }
    
    .gallery article:target img {
    opacity: 1;
    margin-left: 25%;    
}

    
}

@media only screen and (min-width:46em){
    
    .img{
        width: 50%;
        /*margin: 10rem 10rem 0 10rem;*/
    }
    
     .img-about {
        width: 50%;
        padding-bottom: 2rem;
        float: left;
        
    }

}

@media only screen and (min-width:50em){
    
    .img{
        width: 50%;
       /*margin: 10rem 15rem 0 15rem;*/
    }
    
     .img-about {
        width: 50%;
        padding-bottom: 2rem;
        float: left;
        
    }
}

@media only screen and (min-width:62em){

    /*.img-about{
        width: 50%;
        padding-bottom: 2rem;
        float: left;
    }*/
    
    .img{
        width: 50%;
       /* margin: 10rem 18rem 0 18rem;*/
    }

    
}

@media only screen and (min-width:72em){
    
    .img{
        width: 50%;
        margin: 10rem 20rem 0 20rem;
    }
    
     .img-about {
        width: 50%;
        padding-bottom: 2rem;
        float: left;
        
    }

    
    
}

@media only screen and (min-width:82em){
    
    .img{
        width: 50%;
        margin: 10rem 22rem 0 22rem;
    }
    
    .img-about {
        width: 50%;
        padding-bottom: 2rem;
        float: left;
        
    }

}


/*CONTACT*/

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.sec-3{
    font-family: 'poppins', sans-serif;
    padding-top: 3rem;
    background: transparent url("../img/footer.jpg") no-repeat center;
    background-size: cover;
    color: #333;
}

.icon-set{
    margin-top: 4rem;
    width: 50px;
    display: inline-block;
}

.info-text{
    width: 100px;
    display: inline-block;
    text-align: center;
}

.social-sec{
    padding: 0;
    margin-top: 2rem;
    text-align: center;
}

.sec-3 h2{
    margin-top: 2rem;
    color: #333;
}

.social-sec h3{
    margin-bottom: 5rem;
}

.social-icon{
    width: 50px;
    text-align: center;
}

.contact-sec{
    width: 50%;
    margin-left: 25%;

}
/* Social Icons */

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li a,
.social li a:link,
.social li a:visited{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
   
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	
	color: #fff;
	/*background-color: #222;*/
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #333;
	-moz-box-shadow: inset 0px 0px 0px 40px #333;
	-ms-box-shadow: inset 0px 0px 0px 40px #333;
	-o-box-shadow: inset 0px 0px 0px 40px #333;
	box-shadow: inset 0px 0px 0px 40px #333;
	
}

.social i{
 padding-top: 0.8rem;   
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #333;
	-moz-box-shadow: inset 0px 0px 0px 3px #333;
	-ms-box-shadow: inset 0px 0px 0px 3px #333;
	-o-box-shadow: inset 0px 0px 0px 3px #333;
	box-shadow: inset 0px 0px 0px 3px #333;
	color: #333;
}


.social-sec h3{
    padding-top: 3rem;
}

.social li{
    margin-left: 5rem;
    margin-right: 4rem;

    text-align: center;
    
}

footer{
      
}

footer p{
    margin: 0;
    padding: 2rem 0 1rem 0;
    text-align: center;
}